.MuiChip-root.chip-default {
    &.MuiChip-colorWarning {
        background-color: #feefcf !important;
        color: #ffb822 !important;
    }
    &.MuiChip-colorError {
        background-color: #ffdad8 !important;
        color: #f56a62 !important;
    }
    &.MuiChip-colorSuccess {
        background-color: #ccebdd !important;
        color: #54b589 !important;
    }
    &.MuiChip-colorDefault {
        background-color: #e0e0e0 !important;
        color: #4b4b4b !important;
    }
    &.MuiChip-colorPrimary {
        background-color: #bfe1ff !important;
        color: #1976d2 !important;
    }
    &.MuiChip-colorInfo {
        background-color: #bfe1ff !important;
        color: #0288d1 !important;
    }
    border: 0px solid !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    min-width: none;
    max-height: 28.58px !important;
}
