.bgs-date {
    .MuiFormControl-root {
        .MuiInputLabel-root {
            top: 3px !important;
            &.MuiInputLabel-shrink {
                top: 2px !important;
            }
        }
    }
}

.range-date {
    .MuiOutlinedInput-root.MuiInputBase-root {
        padding: 0px !important;
        padding-right: 3px !important;
    }
}

.row-input-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .col-input-date {
        &:nth-child(1) {
            width: 45%;
        }
        &:nth-child(2) {
            width: 5%;
        }
        &:nth-child(3) {
            width: 45%;
        }
    }
}
.left-icon-date {
    .MuiButtonBase-root {
        position: absolute !important;
        left: 4px !important;
    }
}
.calender-bgs {
    // background-color: #fff;
    // border: 1px solid #e8e8e8;
    border-radius: 8px;
    width: 305px;
    // min-height: 320px;
    overflow: hidden;
    .calender-days-bgs {
        user-select: none;
        max-height: 39.6px;
        .MuiGrid-root.MuiGrid-item {
            // border-right: 1px solid #e8e8e8;
            // border-bottom: 1px solid #e8e8e8;
            display: flex;
            font-size: 0.75rem;
            align-items: center;
            justify-content: center;
            color: #969696;
            height: 39.6px;
            width: 39.6px;
            &:last-child {
                border-right: 0px solid #e8e8e8 !important;
            }
        }
    }
    .calender-date-bgs {
        // background-color: #f1f1f1;
        font-size: 0.75rem !important;
        .MuiGrid-root.MuiGrid-item {
            padding: 0px !important;
            margin: 0px !important;
            margin-bottom: 3px !important;
            height: 43.6px;
            // width: 100px;
            // background-color: #fff;
            color: #000000de !important;
            text-align: center;
            border: 0px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            &.hover-date-start {
                border-width: 2px;
                border-style: dashed;
                border-color: rgba(0, 0, 0, 0.12) transparent;
                border-image: initial;
                border-radius: 0px;
                &.sun,
                &.hover-end,
                &.start-month {
                    border-radius: 100% 0px 0px 100%;
                    border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                    border-right: 2px dashed transparent !important;
                }
                &.sat,
                &.selected,
                &.end-month {
                    border-radius: 0px 100% 100% 0px;
                    border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                    border-left: 2px dashed transparent !important;
                }
                &.full-rounded-date-hover {
                    border-radius: 100%;
                    border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                }
            }
            &.hover-date {
                border-width: 2px;
                border-style: dashed;
                border-color: rgba(0, 0, 0, 0.12) transparent;
                border-image: initial;
                border-radius: 0px;
                &.sat,
                &.hover-end,
                &.end-month {
                    border-radius: 0px 100% 100% 0px;
                    border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                    border-left: 2px dashed transparent !important;
                }
                &.sun,
                &.selected,
                &.start-month {
                    border-radius: 100% 0px 0px 100%;
                    border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                    border-right: 2px dashed transparent !important;
                }
                &.full-rounded-date-hover {
                    border-radius: 100%;
                    border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                }
                // .btn-date.MuiButtonBase-root.selected {
                //     border-radius: 100% 0px 0px 100%;
                //     border: 2px dashed rgba(0, 0, 0, 0.12) !important;
                //     border-right: 2px dashed transparent !important;
                // }
            }
            &.range-date {
                &.sat,
                &.selected-end,
                &.end-month {
                    border-radius: 0px 100% 100% 0px;
                }
                &.sun,
                &.selected,
                &.start-month {
                    border-radius: 100% 0px 0px 100%;
                }
                &.full-rounded-date {
                    border-radius: 100% !important;
                }
                background-color: rgba(66, 165, 245, 0.6);
            }
            .btn-date.MuiButtonBase-root {
                font-weight: 400 !important;
                font-size: 0.75rem !important;
                height: 39.6px;
                width: 39.6px;
                color: #000000de !important;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                    border: 1px solid #9e9e9e;
                }
                &.date-now {
                    background-color: #1565c023 !important;
                }
                &.selected,
                &.selected-end {
                    background-color: #1565c0 !important;
                    color: #e8e8e8 !important;
                }
                &:disabled {
                    color: rgba(0, 0, 0, 0.233) !important;
                }
            }
            &.bg-date-null {
                // background-color: #f1f1f1;
            }
        }
    }
}
.calender-month-bgs {
    margin-top: 10px;
    .MuiGrid-root.MuiGrid-item {
        margin-bottom: 5px;
        .MuiButtonBase-root {
            font-weight: 400 !important;
            font-size: 1rem !important;
            height: 70.6px;
            max-height: 70.6px;
            width: 39.6px;
            color: #000000de !important;
            border: 1px solid #fff;
            border-radius: 5px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
                border: 1px solid #9e9e9e;
            }
            &.month-now {
                background-color: #1565c023 !important;
                color: #000 !important;
            }
            &.month-selected {
                background-color: #1565c0 !important;
                color: #e8e8e8 !important;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.233) !important;
            }
        }
    }
}

.MuiButtonBase-root.select-year-mode {
    border: 1px solid #9e9e9e;
    color: #000 !important;
}

.calender-year-bgs {
    margin-top: 10px;
    .MuiGrid-root.MuiGrid-item {
        margin-bottom: 15px;
        .MuiButtonBase-root {
            font-weight: 400 !important;
            font-size: 1rem !important;
            height: 36px;
            width: 39.6px;
            padding: 0px !important;
            color: #000000de !important;
            border: 1px solid #fff;
            border-radius: 55px;
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
                border: 1px solid #9e9e9e;
            }
            &.year-now {
                background-color: #1565c023 !important;
                color: #000 !important;
            }
            &.year-selected {
                background-color: #1565c0 !important;
                color: #e8e8e8 !important;
            }
            &:disabled {
                color: rgba(0, 0, 0, 0.233) !important;
            }
        }
    }
}

.MuiButtonBase-root.next-bgs-calendar{
    user-select: none !important;
}

.select-none{
    user-select: none !important;
}