.bgs-tabs {
    .bgs-tabs-container-title {
        overflow: hidden;
        &.default {
            border-bottom: 1px solid !important;
            border-color: #0000001f !important;
        }

        .bgs-tabs-title {
            &.opsi-1 {
                padding: 4px 30px;
                color: #1a81c5;
                border-color: #1a81c5 !important;
                cursor: pointer;
                transition: 0 0 0;
                background-color: #fff;
                // border-top: 1px solid #1a81c5;
                border-right: 0px solid #1a81c5 !important;
                border-radius: 0px;
                &.active {
                    background-color: #1a81c5;
                    color: #fff;
                }
                &.first {
                    // border-left: 1px solid #1a81c5;
                    border-radius: 30px 0px 0px 30px;
                }
                &.last {
                    border-right: 2px solid #1a81c5;
                    border-radius: 0px 30px 30px 0px;
                }
            }
            &.default {
                font-size: 13px !important;
                padding: 12px 16px !important;
                border-radius: 0px !important;
                color: #00000099 !important;
                min-width: 90px !important;
                min-height: 48px !important;
                border-bottom: 2px solid !important;
                border-top: 0px solid !important;
                border-left: 0px solid !important;
                border-right: 0px solid !important;
                border-color: transparent !important;
                &.active {
                    color: #1976d2 !important;
                    border-color: #1976d2 !important;
                }
            }
        }
    }
}
