$blue-100: #82a1b8;
$blue-400: #1a81c5;
$blue-800: #04395b;
$blue-900: #153958;

$green-100: #71c49f;
$green-200: #69bca1;

$gray-400: #41454c;

$yellow-500: #f6a357;

$fs-xs: 8px;
$fs-small: 10px;
$fs-normal: 12px;
$fs-regular: 14px;
$fs-medium: 16px;
$fs-large: 18px;
$fs-xl: 20px;
$fs-xxl: 22px;
$fs-xxxl: 24px;

$cresa-font-family: "Roboto";

$cresa-font-title: "Roboto";

.selected-item {
    background-color: #ededed;
}

.color-green-100 {
    color: $green-100 !important;
}

.bg-green-100 {
    background-color: $green-100;
}

.color-blue-400 {
    color: $blue-400;
}

.color-blue-900 {
    color: $blue-900;
}

.border-blue-400 {
    border-color: $blue-400 !important;
}
.border-blue-900 {
    border-color: $blue-900 !important;
}

$white: #fff;
$black: #000;

$color-interval: 10%;
$color-contrasted-threshold: 150 !default;
$color-contrasted-dark: $black !default;
$color-contrasted-light: $white !default;

$grey: #767676;

$blue: #007bff;

$indigo: #6610f2;

$purple: #9b59b6;

$pink: #e83e8c;

$red: #db2828;

$orange: #f2711c;

$yellow: #fbbd08;

$olive: #b5cc18;

$green: #28a745;

$teal: #00b5ad;

@function color($key: "blue") {
    @return map-get($colors, $key);
}

@function color-level($color-name: "blue", $level: 0) {
    $color: color($color-name);
    $color-base: if($level > 0, $black, $white);
    $level: abs($level);

    @return mix($color-base, $color, $level * $color-interval);
}

$colors: ();
$colors: map-merge(
    (
        "grey": $grey,
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "olive": $olive,
        "green": $green,
        "teal": $teal,
        "white": $white,
    ),
    $colors
);

$levels: ();
$levels: map-merge(
    (
        "100": -7,
        "200": -5,
        "300": -3.5,
        "400": -1.5,
        "500": 0,
        "600": 1.5,
        "700": 3.5,
        "800": 5,
        "900": 7,
    ),
    $levels
);

@each $name, $value in $colors {
    @each $tone, $level in $levels {
        .bg-#{$name}-#{$tone} {
            background: color-level(#{$name}, $level);
        }
        .c-#{$name}-#{$tone} {
            color: color-level(#{$name}, $level);
        }
        .bc-#{$name}-#{$tone} {
            border-color: color-level(#{$name}, $level) !important;
        }
    }
}
.grayscale {
    filter: grayscale(100%);
}

.bg-blur::after {
    content: " ";
    -webkit-filter: blur(1px);
    backdrop-filter: blur(7px);
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.bg-blur-content {
    -webkit-filter: blur(3px);
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.5) !important;
    -webkit-tap-highlight-color: transparent !important;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.border-hover:hover {
    border-color: $blue !important;
}
.c-blue-300{
    color: #1a81c5;
}
.bg-blue-300{
    background-color: #1a81c5;
}